{{- $r := "" -}}
{{- $src := .Destination -}}
{{- if not (or (hasPrefix $src "http") (hasPrefix $src "/")) -}}
  {{- $r = .Page.Resources.GetMatch (printf "*%s*" $src) -}}
{{- end -}}
{{- if $r -}}
{{- $v := partial "img-variants.html" (dict "r" $r "widths" (slice 360 540 750 1080)) -}}
{{- $cls := partial "img-class.html" (dict "r" $r) -}}
{{- $pt := .Page.Title -}}
{{- with .Title -}}
<figure class="art-fig {{ $cls }}">
    <img class="art-img {{ $cls }}" src="{{ $v.src }}"{{ with $v.srcset }} srcset="{{ . }}" sizes="(max-width:820px) 94vw, 620px"{{ end }} width="{{ $v.w }}" height="{{ $v.h }}" alt="{{ .PlainText | default $pt }}" loading="lazy" decoding="async">
    <figcaption>{{ . }}</figcaption>
</figure>
{{- else -}}
<img class="art-img {{ $cls }}" src="{{ $v.src }}"{{ with $v.srcset }} srcset="{{ . }}" sizes="(max-width:820px) 60vw, 500px"{{ end }} width="{{ $v.w }}" height="{{ $v.h }}" alt="{{ .PlainText | default $pt }}" loading="lazy" decoding="async">
{{- end -}}
{{- else -}}
<img class="art-img art-img--std" src="{{ $src | safeURL }}" alt="{{ .PlainText }}" loading="lazy" decoding="async">
{{- end -}}
