<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode `en` }}">
<head>
    {{ partial "head.html" . }}
</head>
<body>
    <a class="skip" href="#main-content">Skip to content</a>
    <div class="ignition" aria-hidden="true">J.MEHTALI // STATION</div>
    {{ partial "header.html" . }}
    <main id="main-content">
        {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    <script>window.TELEMETRY_ENDPOINT = {{ site.Params.telemetryEndpoint | default "" | jsonify | safeJS }};</script>
    {{ $js := resources.Get "js/main.js" | minify | fingerprint }}
    <script src="{{ $js.RelPermalink }}" defer></script>
</body>
</html>
