{{- $ThemeVersion := "3.16.0" -}}
<footer class="site-footer">
    <section class="copyright">
        &copy;
        {{ if and (.Site.Params.footer.since) (ne .Site.Params.footer.since (int (now.Format "2006"))) }}
            {{ .Site.Params.footer.since }}&ndash;{{ now.Format "2006" }}
        {{ else }}
            {{ now.Format "2006" }}
        {{ end }}
        {{ .Site.Title }}
    </section>

    {{ with .Site.Params.footer.customText }}
    <section class="powerby">
        {{ . | safeHTML }}
    </section>
    {{ end }}
</footer>